*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, blue, purple,red);
}
.popupBtn{
    font-weight: 500;
    border: none;
    outline: none;
    color: #03045e;
    width: 300px;
    padding: 10px 20px;
    background-color: #023e8a;
    border-radius: 20px;
    transition: color 0.4s;
}
.popupBtn:hover{
    color: whitesmoke;
}
/* THE POPUP MSG  */
.popup{
z-index: 1;
width: 400px;
text-align: center;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%, -50%) scale(0.2);
visibility: hidden;
background: linear-gradient(135deg, blue, purple, red);
transition: top 0.4s, transform 0.4s;
}
.showPopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup .checkIcon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: grid;
    place-content: center;
    color: blue;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #dad7cd;
}

.popup h1{
    font-size: 1.5rem;
}
.popup p{
    line-height: 1.5;
    word-spacing: 5px;
    margin-bottom: 20px;
}

.popup .closePopupBtn{
    color: #030e8a;
    background-color: #023e8a;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 10px;
    transition: color 0.4s;
}
.closePopupBtn:hover{
    color: whitesmoke;
}